<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DBEdit.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, nlog" />
	</configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
      <userSettings>
        <DBEdit.My.MySettings>
          <setting name="Server" serializeAs="String">
            <value />
          </setting>
          <setting name="Database" serializeAs="String">
            <value />
          </setting>
          <setting name="User" serializeAs="String">
            <value />
          </setting>
          <setting name="Password" serializeAs="String">
            <value />
          </setting>
          <setting name="StartupX" serializeAs="String">
            <value>0</value>
          </setting>
          <setting name="StartupY" serializeAs="String">
            <value>0</value>
          </setting>
          <setting name="StartupWidth" serializeAs="String">
            <value>0</value>
          </setting>
          <setting name="StartupHeight" serializeAs="String">
            <value>0</value>
          </setting>
          <setting name="State" serializeAs="String">
            <value />
          </setting>
          <setting name="Tooltips" serializeAs="String">
            <value>True</value>
          </setting>
          <setting name="MaxColWidth" serializeAs="String">
            <value>300</value>
          </setting>
          <setting name="Startup" serializeAs="String">
            <value>Show open dialog</value>
          </setting>
          <setting name="Aargh" serializeAs="String">
            <value>True</value>
          </setting>
        </DBEdit.My.MySettings>
    </userSettings>

	<nlog internalLogLevel="Error" internalLogFile="nlogerrors.txt">

		<targets async="true">
			<target name="debug" type="Debugger" layout="${date:format=HH\:mm\:ss.fff} ${message} | ${level:uppercase=true} ${exception:format=tostring}" />
			<target name="file" type="File" layout="${date:format=HH\:mm\:ss.fff} ${message} | ${level:uppercase=true} ${exception:format=tostring}"
     fileName="DBEdit${cached:${date:format=yyyyMMdd HHmmss}}.log" encoding="utf-8" concurrentWrites="false" />
		</targets>
		<rules>
			<!--This is overridden in MainUI.New -->
			<logger name="*" minlevel="Trace" writeTo="debug" ruleName="debug" />
			<logger name="*" minlevel="Error" writeTo="file" />
		</rules>
	</nlog>

</configuration>