<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="10.50.1600.1" targetFramework="net472" />
  <package id="morelinq" version="3.4.2" targetFramework="net472" />
  <package id="NLog" version="5.2.4" targetFramework="net472" />
  <package id="protobuf-net" version="3.2.26" targetFramework="net472" />
  <package id="protobuf-net.Core" version="3.2.26" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.EventLog" version="7.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.ServiceProcess.ServiceController" version="7.0.1" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>